@model Rsvp.ViewModels.HouseholdViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .rsvpButton, .rsvpButton:hover {
        font-size: 18pt;
        padding: 1% 7%;
        letter-spacing: 1.5pt;
        text-decoration: none;
        font-family: var(--font-aref-ruqaa);
        border: 2px solid var(--gold);
        margin-left: auto;
        margin-right: auto;
    }

    .rsvpButton {
        background: white;
        color: var(--gold-text);
    }

    .rsvpButton:hover {
        background: var(--gold);
        color: white;
        font-weight: bold;
    }

    .rsvpButtonDiv {
        text-align: center;
        margin-bottom: 2vh;
    }
</style>

@using (Html.BeginForm("SendRsvpReply", "Home", FormMethod.Post))
{
    @Html.HiddenFor(model => model.Id)
    <div>
        @(Model.HasReplied ? @Html.DisplayFor(model => model.Guests) : @Html.EditorFor(model => model.Guests))
    </div>
    <div class="rsvpButtonDiv">
        <input class="rsvpButton" type="submit" value="RSVP" style="@(Model.HasReplied ? "display:none" : "display:block")"/>
    </div>   
}