@using Rsvp.Utils.Enums
@using Rsvp.Utils.Extensions
@model Rsvp.ViewModels.GuestViewModel
<style>
    .groupedSection {
        margin: 10px 0 0 0;
    }
    .groupedSection p {
        margin: 0;
    }

    .checkBoxLabel {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: not-allowed;
        font-size: 16pt;
        margin-left: 0;
    }

    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 3px;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: white;
        border: var(--gold) 1px solid;
        cursor: not-allowed;
    }

    /* When the checkbox is checked, add a gold background */
    .checkBoxLabel input:checked ~ .checkmark {
        background-color: var(--gold);
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .checkBoxLabel input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .checkBoxLabel .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .labelStyle {
        font-size: 16pt;
        width: 100%; 
        font-family: var(--font-poiret-one); 
        color: var(--gold-text);
        font-weight: bolder;
    }
    @@media screen and (max-width: 600px) {
        .checkBoxLabel {
            font-size: 12pt;
            padding-left: 21px;
        }
        .groupedSection label {
            display: inline;
        }
        .checkmark {
            height: 15px;
            width: 15px;
        }
        .checkBoxLabel .checkmark:after {
            left: 5px;
            top: 2px;
            width: 3px;
            height: 8px;
            border-width: 0 1px 1px 0;
        }
        .labelStyle {
            font-size: 12pt;
        }
    }
</style>

<div class="guestDiv" disabled>
    <h2>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h2>
    <div class="guestReplyDetails">
        <div class="groupedSection">
            @{
                foreach (Enum rsvpOption in Enum.GetValues(typeof(RsvpStatus)))
                {
                    <div>
                        @Html.RadioButtonFor(s => s.RsvpReply, rsvpOption, new { disabled = "disabled" })
                        @Html.Label(rsvpOption.ToString(), rsvpOption.GetDescription())
                    </div>
                }
            }
        </div>

        <div class="groupedSection">
            <p>I promise to not leave the dancefloor when you play:</p>
            <span class="labelStyle">@Html.DisplayFor(model => model.SongRequest)</span>
        </div>
        <div class="groupedSection">
            <p>I'm a picky eater in the following senses:</p>
            <span class="labelStyle">@Html.DisplayFor(model => model.DietaryRequirements)</span>
        </div>
        <div class="groupedSection">
            @{
                foreach (Enum hotelRequirement in Enum.GetValues(typeof(HotelRequirementOptions)))
                {
                    <div>
                        @Html.RadioButtonFor(s => s.HotelRequirement, hotelRequirement, new { disabled = "disabled" })
                        @Html.Label(hotelRequirement.ToString(), hotelRequirement.GetDescription())
                    </div>
                }
            }
        </div>

        <div>
            <label class="checkBoxLabel">
                @Html.CheckBoxFor(model => model.RequiresTransport, new { id = "checkBoxDefaultInput", style = "display: none;", @disabled = "disabled" })
                I would like to use the arranged transport service between the Hilton and the venue on Saturday.
                <span class="checkmark" disabled></span>
            </label>
        </div>
    </div>
</div>